.Tour {
  background-color: rgb(236, 236, 236);
  margin: 0px 0px;
  padding: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  .TourList {
    width: 310px;
    margin: 0px;
    padding: 15px;
    font-size: 13px;
    img {
      width: 310px;
      height: 200px;
    }
    display: inline-block;
    

    &:hover {
      color: rgb(0, 0, 0);
      cursor: pointer;

      transition: all 0.3s ease-in-out;

      transform: scale(1.1);
    }

    h3 {
      padding: 5px;
      margin: 0px;
      background-color: white;
      font-weight: 500;
    }
  }

  .ourtours {
    text-align: center;

    margin: 30px;
    margin-top: 50px;
    margin-bottom: 20px;

    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 800;
  }

  .tourdescript {
    text-align: center;
    padding: 0px 350px 0px;
    margin-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 250;
  }

}

  //large screen Max
  @media screen and (max-width: 1200px) {
    .Tour {
      .tourdescript {
        display: none;
      }
    }
  }

