.ContactForm {
  border: solid 1px white;
  padding: 20px;

  &.form-invalid{
    border: solid 2px grey;
    background-color: rgb(250, 135, 154);
  }

  .error-message{
    border: solid 5px red;
    background-color: coral;
    padding: 20px;
    margin-bottom: 50px;
  }

  .form-group {
    margin-bottom: 20px;

    .left {
      border: solid 1px purple;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
    }
    .right {
      border: solid 1px black;
    }

    input,
    textarea {
      box-sizing: border-box;
      display: block;
      font-size: 20px;
      padding: 10px;
      width: 100%;

      &.invalid{
        border: solid 2px red;
        background-color: coral;
      }
    }

    textarea {
      height: 300px;
    }

    button {
      background-color: white;
      border: none;
      font-size: 20px;
      line-height: 40px;
      padding: 0px 10px;

      &:hover {
        background-color: rgb(72, 188, 255);
      }
      &:active {
        background-color: red;
        color: white;
      }
    }
  }
}

//Medium
@media screen and (min-width: 600px) {
  .ContactForm {
    .form-group {
      display: flex;

      .left {
        flex: 1;
        text-align: right;
      }
      .right {
        flex: 2;
      }
    }
  }
}
