.Nav {
    color: rgb(0, 0, 0);
    height: 500;
    text-align: center;
  
    background-color: rgb(192, 192, 192); 
    padding: 20px; 
}

p.navbutton   {
    color: white;
    position: absolute;
    left: 1130px;
    top: 50px;
    text-align: center;
    background-color:rgb(99, 99, 99);
    width: 150px;
    height: 18px;
    padding: 20px;
    margin: 0px;
  
}

p.logo   {
    color: white;
    position: absolute;
    left: 120px;
    top: 50px;
    text-align: center;
    background-color:rgb(99, 99, 99);
    width: 150px;
    height: 18px;
    padding: 20px;
    margin: 0px;
  
}
