.Nav {
  background: rgb(255, 255, 255);
  padding: 20px;
font-size: 18px;
  .hamburger {
    display: block;

    width: 30px;
    height: 30px;

    position: absolute;
    right: 50px;
    top: 30px;
    color: rgb(0, 0, 0);

    svg {
      width: 100%;
      height: auto;
    }

    &:hover {
      color: rgb(0, 0, 0);
      cursor: pointer;
    }
    


}



  .links {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  

    a {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);

      display: block;
      padding: 20px;
      border-radius: 5px;
      margin: 10px;

      text-decoration: none;
      text-transform: uppercase;

 

      //border: solid 5px rgb(136, 184, 255);

      transition: all 1s;

      &:hover {
        transition: all 0.5s;
        background-color: rgb(196, 196, 196);
      }

      &.active{
        background: tomato;
      }
    }
  }
}




@media screen and(min-width: 600px) {
  .Nav {
    .hamburger {
      display: none;
    }

    .links {
      a {
        display: inline-block;
      }
    }
  }
}

@media screen and(min-width: 800px) {
}
