.Tabbed {
  .tabs {
    display: flex;

    .tab {
      background-color: rgb(197, 197, 197);
      padding: 8px 40px;
      border-radius: 3px 3px 0px 0px;
      margin-right: 10px;
    }
  }

  
  .content {
background-color:rgb(197, 197, 197);
padding: 20px;

    h2 {
    }
    
    p {
      background-color: coral;
      height: 250px;
      padding: 10px;
    }
  }
}
