.Tabbed {
    .tabs{
        display: flex;
        .tab {
            background-color: rgb(95, 95, 95);
        padding: 10px 30px;
     border-radius: 3px 3px 0px 0px;
       margin-right: 10px;

       &.active {
           background-color:rgb(172, 172, 172);
       }
        
    }
}


.content{
    background-color: rgb(172, 172, 172);
    padding: 20px;
    img{}
    h2{}
    p{
height: 250px;
padding: 10px;
background-color: cyan;

    }




}

}
